node_modules
ArduinoUnit/ArduCam
ArduinoUnit/libraries
ArduinoUnit/SetUpTests
.vscode/*
ArduCam/*
sourceCode_arduCamArduino/*
package-lock.json
.DS_Store
.AHS_backend
.venv
*.swp
*.swo

ProcessingServer/dashboardBackend/.AHS_backend/
ProcessingServer/dashboardBackend/15:11:51.712.jpg
ProcessingServer/dashboardBackend/15:13:18.918.jpg
ProcessingServer/dashboardBackend/15:15:45.618.jpg
ProcessingServer/dashboardBackend/15:16:52.904.jpg
ProcessingServer/dashboardBackend/15:17:24.187.jpg
ProcessingServer/dashboardBackend/15:17:42.865.jpg
ProcessingServer/dashboardBackend/15:19:18.995.jpg
ProcessingServer/dashboardBackend/submits08fp4bl.tmp
ProcessingServer/dashboardBackend/utput
ProcessingServer/dashboardBackend/__pycache__/
ProcessingServer/dashboardBackend/imageCache/

ProcessingServer/dashboardBackend/newData.json
ProcessingServer/dashboardBackend/initialBlockData.json

dashboard_interface/public/testImageDashboard.jpg
dashboard_interface/node_modules/
ProcessingServer/dashboardBackend/JSON/newData.json
ProcessingServer/dashboardBackend/ahs_py_bend/*
cassDoc.command
ProcessingServer/dashboardBackend/database/__pycache__/
ProcessingServer/dashboardBackend/database/__pycache__/
ProcessingServer/dashboardBackend/udp_serv.command
udp_serv.command
ProcessingServer/dashboardBackend/database/__init__.pyc
.gitignore
.gitignore
.gitignore
