node_modules
.vscode/*
package-lock.json
.DS_Store
.AHS_backend
.venv
*.swp
*.swo

ProcessingServer/dashboardBackend/.AHS_backend/
ProcessingServer/dashboardBackend/submits08fp4bl.tmp
ProcessingServer/dashboardBackend/utput
ProcessingServer/dashboardBackend/__pycache__/
ProcessingServer/dashboardBackend/imageCache/
ProcessingServer/dashboardBackend/TestData/


ProcessingServer/dashboardBackend/JSON/

dashboard_interface/public/testImageDashboard.jpg
dashboard_interface/node_modules/
ProcessingServer/dashboardBackend/JSON/*
ProcessingServer/dashboardBackend/ahs_py_bend/*
*cassDoc.command
ProcessingServer/dashboardBackend/database/__pycache__/
ProcessingServer/dashboardBackend/database/__pycache__/
ProcessingServer/dashboardBackend/udp_serv.command
udp_serv.command
*.pyc
ProcessingServer/dashboardBackend/JSON/newData.json
ProcessingServer/dashboardBackend/database/__init__.pyc
.gitignore
.gitignore
.gitignore
