

  * {box-sizing: border-box;}

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-content: center ;
  }

  .gridId{
    display: grid;
    justify-items: center;
    align-items: center;
  }
  

  .id-1{grid-area: 2 / 2 / span 2 / span 2;}

  .grid-wrapper {
      border: 2px solid #f76707;
      border-radius: 10px;
      background-color: #fff4e6;
  }
  
  .grid-wrapper > div {
      border: 2px solid #ffa94d;
      border-radius: 5px;
      background-color: #ffd8a8;
      padding: 1em;
      color: #d9480f;
  }

    